{% extends "auctions/layout.html" %}

{% block body %}
{% for listing in listings %}
    <h1>{{listing.title}}</h1>
    <h4>${{maxBid}}</h4>
    <div>    
        <p>{{listing.description}}</p>
        
            <form action="{% url 'addBid' listing.id %}" method="POST">
                
                {%csrf_token%}
                <input type="text" placeholder="Bid Amount: $" name="Bid">
                <input type="submit" value="Bid">    
                <div>biggest bid: {{maxBid}}</div>
       
            </form>
        <div> {{ message }}</div>
    </div>
 {% endfor %}

{% endblock %}